<%= simple_form_for [:admin, @product] do |f| %>
  <div class="form-group">
    <%= f.input :title, :label => "国家名称" %>
    <%= f.input :description, :label => "简述" %>

    <%= select_tag(:country_category_id, options_for_select(@country_categories), :prompt => "国家类别") %>

    <%= f.input :image, as: :file, :label => "封面" %>


    <hr>

  </div>
  <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>
