<div class="product-show" style="overflow:hidden;">

  <!-- 主图 -->
  <div class="col-md-4">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail img-width") %>
    <% else %>
      <%= image_tag("http://placehold.it/00x400&text=No Pic", class: "thumbnail img-responsive") %>
    <% end %>
  </div>

  <!-- 商品信息 -->
  <div class="col-md-8">

    <!-- 商品标题 -->
    <h2 class="product-title"><%= @product.title %></h2>

    <!-- 商品简述 -->
    <div class="product-description">

        <%= simple_format(@product.description) %>

    </div>

  </div>
</div>

<!-- 项目列表区 -->
<div class="text-center" style="margin:10px 0;height:40px;background-color:#ffffff;margin:0 15px;font-size:14px; position:relative;">



<div class="" style="position:absolute;left:0;top:0;bottom:0;line-height:40px;width:84px;background-color:#178df2;font-size:14px;color:white;">
  项目
</div>

</div>


<div class="all-product-box">
  <!-- <div class="row"> -->

    <% @projects.each do |project| %>
      <div class="col-xs-12 col-md-4 product-list-style  center-block all_image_css">
        <div class="" style="">


        <% if project.image.present? %>
          <%=link_to image_tag(project.image.medium.url,class: "img-width"),product_project_path(@product, project),target: "_blank" %>

        <% else %>
         <%= link_to image_tag("http://placehold.it/300x300&text=No Pic", class: "img-width"), product_project_path(@product, project), target: "_blank"  %>
        <% end %>
        </div>
        <div class="" style="position:relative;background-color:white;padding:10px 14px 26px 14px;font-size:14px;line-height:20px;height:20px;overflow:hidden;display:block;">
          <%= project.title %>
          <div class="" style="position:absolute;right:14px;top:10px;bottom:26px;height:20px;width:5px;background-color:#178df2;">

          </div>
        </div>
        <div class="" style="background-color:white;padding-left:14px;padding-right: 14px;padding-bottom:10px;font-size:12px;line-height:18px;height:36px;overflow:hidden;display:block;">
          <%= project.content %>
        </div>
        <div class="" style="padding-left:14px;line-height:40px;background-color:#f3f7fb;font-size:14px;">
            所属国家：<i class="fa fa-map-marker" style="width:20px;"></i>美国
        </div>
      </div>
    <% end %>

  <!-- </div> -->
</div>



<!-- 项目列表区 结束 -->

<!-- </div> -->
